<div class="row mt-3">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><a href="/board/edit/{{ad.board_id}}" aria-label="Previous">
                    <span style="font-size: 28px" aria-hidden="true">🠘  </span>
                </a>'{{ad.title}}' Adlı İlanı Düzenle</h5>
                <form action="/ad/edit" method="post">
                    <input type="hidden" name="id" value="{{id}}">
                    <div class="form-group">
                        <label for="title">Başlık</label>
                        <input value="{{ad.title}}" type="text" required minlength="2" class="form-control" id="title"
                               name="title">
                    </div>
                    <div class="form-group">
                        <label for="subtitle">Alt Başlık</label>
                        <input value="{{ad.subtitle}}" type="text" required minlength="2" class="form-control"
                               id="subtitle" name="subtitle">
                    </div>
                    <div class="form-group">
                        <label for="price">Fiyat (TL)</label>
                        <input value="{{ad.price}}" type="number" required step="0.01" class="form-control" id="price"
                               name="price">
                    </div>
                    <div class="form-group">
                        <label for="location">Konum</label>
                        <input value="{{ad.location}}" type="text" required minlength="2" class="form-control"
                               id="location" name="location">
                    </div>
                    <div class="form-group">
                        <label for="urls">Resim/Video URL Listesi</label>
                        <div class="input-group control-group after-add-more">
                            <input id="urls" type="text" name="urls[]" class="form-control" placeholder="Bir Url Girin">
                            <div class="input-group-btn">
                                <button class="btn btn-success add-more" type="button"><i
                                        class="glyphicon glyphicon-plus"></i> +
                                </button>
                            </div>
                        </div>
                        {{#each images}}
                            <div class="control-group input-group" style="margin-top:10px">
                                <input value="{{this.url}}" type="text" name="urls[]" class="form-control"
                                       placeholder="Bir URL girin">
                                <div class="input-group-btn">
                                    <button class="btn btn-danger remove" type="button"><i
                                            class="glyphicon glyphicon-remove"></i> Sil
                                    </button>
                                </div>
                            </div>
                        {{/each}}
                    </div>


                    <div class="form-group">
                        <label for="info_name">İlan Bilgileri</label>
                        <div class="input-group control-group after-add-more2">
                            <input id="info_name" type="text" name="info_name[]" class="form-control"
                                   placeholder="Bilgi Başlığı">
                            <input id="info_content" type="text" name="info_content[]" class="form-control"
                                   placeholder="Bilgi İçeriği">
                            <div class="input-group-btn">
                                <button class="btn btn-success add-more2" type="button"><i
                                        class="glyphicon glyphicon-plus"></i> +
                                </button>
                            </div>
                        </div>

                        {{#each infos}}
                            <div class="control-group input-group" style="margin-top:10px">
                                <input value="{{this.name}}" id="info_name" type="text" name="info_name[]" class="form-control"
                                       placeholder="Bilgi Başlığı">
                                <input value="{{this.content}}" id="info_content" type="text" name="info_content[]" class="form-control"
                                       placeholder="Bilgi İçeriği">
                                <div class="input-group-btn">
                                    <button class="btn btn-danger remove" type="button"><i
                                            class="glyphicon glyphicon-remove"></i> Sil
                                    </button>
                                </div>
                            </div>
                        {{/each}}
                    </div>


                    <button type="submit" class="btn btn-primary">Kaydet</button>
                    <a href="/ad/delete/{{id}}" class="btn btn-danger">İlanı Sil</a>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="copy" style="display: none;">
    <div class="control-group input-group" style="margin-top:10px">
        <input type="text" name="urls[]" class="form-control" placeholder="Bir URL girin">
        <div class="input-group-btn">
            <button class="btn btn-danger remove" type="button"><i class="glyphicon glyphicon-remove"></i> Sil
            </button>
        </div>
    </div>
</div>


<div class="copy2" style="display: none;">
    <div class="control-group input-group" style="margin-top:10px">
        <input id="info_name" type="text" name="info_name[]" class="form-control" placeholder="Bilgi Başlığı">
        <input id="info_content" type="text" name="info_content[]" class="form-control" placeholder="Bilgi İçeriği">
        <div class="input-group-btn">
            <button class="btn btn-danger remove" type="button"><i class="glyphicon glyphicon-remove"></i> Sil
            </button>
        </div>
    </div>
</div>