<div class="row mt-3">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Pano Listesi</h5>

                <div class="list-group ">
                    {{#each boards}}
                        <a href="/board/edit/{{this.id}}" class="list-group-item list-group-item-action ">
                            <b>{{this.id}}</b>
                            {{this.title}}
                            <span class="badge badge-primary badge-pill">{{this.c}}</span>
                            <span class="badge badge-danger badge-pill connect-badge" id="connect-badge-{{this.id}}">Bilinmiyor</span>
                        </a>
                    {{/each}}
                </div>
                <a href="/addBoard" class="btn btn-primary mt-2">Yeni Pano Ekle</a>
            </div>
        </div>
    </div>
</div>